@inherits LayoutComponentBase
<MudThemeProvider/>
<MudPopoverProvider/>
<!-- Основной контейнер -->
<div class="main-container">
    <!-- Кнопка меню для мобильных -->
    <button class="menu-toggle" @onclick="ToggleSidebar">
        @if (IsSidebarActive)
        {
            <p>Закрыть</p>
        }
        else
        {
            <p>Открыть</p>
        }
    </button>

    <!-- Боковая панель -->
    <div class="sidebar @(IsSidebarActive ? "active" : "")">
        <div class="app-title">
            <h3>Домашняя бухгалтерия</h3>
        </div>

        <nav class="nav-menu">
            <NavLink class="nav-link" href="check" Match="NavLinkMatch.All">
                Добавление чека
            </NavLink>
            <NavLink class="nav-link" href="checks">
                Чеки
            </NavLink>
            <NavLink class="nav-link" href="monthreport">
                Отчет
            </NavLink>
        </nav>
    </div>

    <!-- Основная область -->
    <div class="main-content">

        <div class="content">
            @Body
        </div>
    </div>
</div>

@code {
    // private readonly decimal CurrentBalance = 15450.75m;

    private bool IsSidebarActive;

    private void ToggleSidebar()
    {
        IsSidebarActive = !IsSidebarActive;
    }

}