@page "/MonthReport"
@using BlazorShared.Api
@using Core.Extensions
@using Core.Model.Report
@using BlazorShared.Components
@inject IReportsApi ReportsApi

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Отчет за период</h5>
        </div>

        <div class="card-body">
            <div class="row g-3 mb-4">
                <div class="col-md-5">
                    <div class="form-floating">
                        <InputDate @bind-Value="Begin" class="form-control"/>
                        <label>Начало периода</label>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-floating">
                        <InputDate @bind-Value="End" class="form-control"/>
                        <label>Конец периода</label>
                    </div>
                </div>

                <div class="col-md-2 d-flex align-items-end">
                    <button class="btn btn-primary w-100" @onclick="LoadReport">
                        <i class="bi bi-calendar2-week"></i> Загрузить
                    </button>
                </div>
            </div>

            @if (Report is not null)
            {
                <MonthReportComponent Report="Report"/>
            }

            @* else *@
            @* { *@
            @*     <div class="text-center py-5"> *@
            @*         <div class="spinner-border text-primary" role="status"> *@
            @*             <span class="visually-hidden">Загрузка...</span> *@
            @*         </div> *@
            @*     </div> *@
            @* } *@
        </div>
    </div>
</div>


@code {
    private DateTime Begin { get; set; } = DateTimeExtensions.DayOfCurrentMonth(7);
    private DateTime End { get; set; } = DateTime.Now;
    private Report? Report { get; set; }
    protected override Task OnInitializedAsync() => LoadReport();
    private async Task LoadReport() => Report = await ReportsApi.GetMonthReport(new ReportRequest(Begin, End));
}