@using Core.Model.Report

<div class="report-container">
    <div class="d-flex justify-content-between align-items-center mb-4" onclick="@Toggle" style="cursor: pointer">
        <h2 class="mb-0">
            Отчет за
            <span class="text-primary">@Report.StartDate.ToString("d MMM")</span> -
            <span class="text-primary">@Report.EndDate.ToString("d MMM")</span>
        </h2>
        <div class="total-sum display-6 text-success" >
            @Report.Sum.ToString()
        </div>
    </div>

    @if (ShowCategories)
    {
        <div class="list-group">
            @foreach (var category in Report.Categories)
            {
                <div class="list-group-item list-group-item-action">
                    <CategoryComponent Category="category"/>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter] public Report Report { get; set; } = null!;
    private bool ShowCategories { get; set; }
    private void Toggle() => ShowCategories = !ShowCategories;
}