*:not(input) {
    user-select: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

@supports (-webkit-touch-callout: none) {
    body {
        padding-top: env(safe-area-inset-top);
        padding-right: env(safe-area-inset-right);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
    }
}